body {
  position: relative;
  top: 0px;
  margin: 0px;
  width: auto;
  min-height:1000px;
  background-image: url(design.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  animation: scroll 80s linear infinite;
  z-index: 0;
}

/** COLORS **/
.yellow
{
	background-color: #f9ea52;
}

.midblue
{
	background-color: #38b7da;
}
.pink
{
	background-color: #c31a76;
}

/** NAVIGATION **/
@charset "UTF-8";
.navigation {
  height: 70px;
  background:linear-gradient(90deg, rgba(56,183,218,1) 0%, rgba(249,234,82,1) 50%, rgba(195,26,118,1) 100%);
    z-index:100;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 100vw;
  margin: 0 auto;
}

nav {
  float: right;
    
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 40px;
  line-height: 70px;
     background: clear;
  color: #000;
  text-decoration: none; 
      font-family: "Cuprum";
  font-size: 1.2em;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #f9ea52;
  color: #000;
  opacity: 0.6;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: "";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
    width: 260px;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-dropdown a {
    color: #000;
    width: 230px;
}

.nav-dropdown a:hover {
    background-color: #38b7da;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 698px) {
    .brand img {
        display: none;
    }
  nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 30px;
  line-height: 70px;
     background: clear;
  color: #000;
  text-decoration: none; 
      font-family: "Cuprum";
  font-size: 1.2em;
}
}

/*****Background Infinite Roll*****/

.home {
      min-height:800px;
}

/*****Center Logo*****/
.container0 {
	position: relative;
	top:60px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	text-align: center;
}

.container0 .logo {
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	z-index: 5;
}

/*****Three Containers*****/
.containers {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	height: auto;
	position: relative;
	top:60px;
	text-align: center;
	z-index: 1;
}

.containers .container1 {
	position: relative;
    font-size: 20px;
    width: 430px;
	height: auto;
    font-family: 'Avenir';
	display: inline-block;
    background-color: #38b7da;
    //border: 1px solid #cdcdcd;
    padding: 10px auto;
	display: inline-block;
    border-radius:20px;
	margin: 5px auto;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
	align-items: center;
	justify-content: center;
    opacity: 0.9;
}

.containers .container1 img {
    position: relative;
    float: left;
    background-image: url(owner.jpg);
    width: 150px;
    height: 150px;
    margin: 5%;
    border-radius: 50%;
    z-index: 2;
}

.containers .container1 h1{
    position: relative;
    top: 20px;
    font-family: "Cuprum";
	font-weight: 500;
    color: white;
}

.containers .container1 p{
    position: relative;
    top: 0px;
    font-size: 0.89em;
    font-family: 'Avenir';
    text-align: justify;
    padding: 20px;
    line-height: 26px;
    color: white;
}



.containers .container2 {
	position: relative;
    font-size: 20px;
    font-family: 'Avenir';
    width: 430px;
	height: 620px;
	display: inline-block;
    background-color: #f9ea52;
    //border: 1px solid #cdcdcd;
	margin: 5px auto;
    padding: 10px auto;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
    opacity: 0.9;
}

.containers .container2 h1{
    position: relative;
    top: 30px;
	font-weight: 400;
    color: black;
    font-family: "Cuprum";
}

.container2 ul.container {
  position: relative; 
  top: 30px;
  width: 92%;
  text-align: center;
  padding: 0;
  border: none;
  font-size: 0.9em;
}

.container2 ul.container li {
  background: clear;
  width: 100%;
  color: #000;
  list-style-type: none;
  padding-left: -1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  transition: background-color 0.5s;
}

.container2 ul.container li:nth-child(2) {
  color: #000;
  background: yellow;
}


.containers .container3 {
	position: relative;
    font-size: 20px;
    font-family: 'Avenir';
    width: 430px;
	height: 620px;
	display: inline-block;
    background-color: #c31a76;
    //border: 1px solid #cdcdcd;
	margin: 5px auto;
    border-radius:20px;
	padding: 0;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;
    opacity: 0.9;
}

.containers .container3 h1{
    position: relative;
    top: 30px;
	font-weight: 400;
    font-family: "Cuprum";
    color: white;
}

.containers .container3 p{
    position: relative;
    top: 0px;
    font-size: 1em;
    font-family: 'Avenir';
    text-align: center;
    padding: 20px;
    line-height: 26px;
    color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 10px;
    top: 10px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.button a {
    position: relative;
    top: 1px;
}

/* unvisited link */
.button a:link {
  color: white;
    text-decoration: none;
}

/* visited link */
.button a:visited {
  color: white;
        text-decoration: none;
}


/* mouse over link */
.button a:hover {
  color: white;
        text-decoration: none;
}

/* selected link */
.button a:active {
  color: white;
        text-decoration: none;
}

.center {
  position: relative;
  top: -40px;
  width: 100%;
  padding: 0;
  margin: 100px auto 0;
  border: 10px solid clear;
  box-shadow: 0px 2px 3px clear;

}

@keyframes scroll {
  from {
    background-position: left calc(4.84 * min(100vh, 750px)) top 0px;
  }
  to {
    background-position: top 0px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
    .infinite-photo-grid {
  position: relative;
  top: 70px;
  margin: 0px;
  width: 100%;
  height: 320%;
  background-image: url(design.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position:center;
  animation: scroll 50s linear infinite;
  z-index: 0;
}
   
}
    

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 330%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 320%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 280%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 350%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 650%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}


/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 300%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}

    
    /* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 200%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 200%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}


/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        max-height: 100%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}



/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        max-height: 100%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
          .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
          .infinite-photo-grid {
        position: absolute;
        top: 80px;
        margin: 0px;
        width: 100%;
        height: 100%;
        background-image: url(design.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        animation: scroll 50s linear infinite;
        z-index: 0;
}
}


/* SERVICE BOXES */
.hero-unit {
  position: relative;
  background: #fff;
  overflow: visible;
  z-index: 5;
  min-height: 1000px;
}


.hero-unit:before, .hero-unit:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.hero-unit:after {
  bottom: 0;
      transform-origin: left bottom;
  transform: skewY(3deg);
}

/* SERVICE BOXES */
.service-boxes.section
{
    position: relative;
    top:-50px;
    width: 100%;
    text-align: center;
    display: grid;
    max-height:1000px;
}
.service-boxes.section .row
{
	max-width: 1320px;
}
.service-boxes.section
{
	padding-left: 0;
	padding-right: 0;
}
.service-boxes.section .row
{
	width: 100%;
	max-width: 1920px;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 5%;
}
.service-boxes.section .intro.row
{
	max-width: 960px;
}
.service-boxes.section .intro.row h2
{
	max-width: 20em;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 30px;
    color: #c31a76;
    font-size: 3em;
	font-weight: bold;
}
.service-boxes.section .intro.row p
{
    margin-bottom: 3.6em;
    font-family: 'Avenir'; 
    line-height: 27px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
    width: 90%;
        font-size: 1.0em;
}
}
.service-boxes.section .cta.row
{
	position: relative;
}
.service-boxes .boxes
{
	text-align: left;
	display: flex;
	flex-flow: row wrap;
    height: 500px;
}
.service-boxes .boxes *
{
	position: relative;
  font-family: 'Avenir';
}
.service-boxes .boxes .box
{
	padding: 2.7em;
	font-size: 0.9em;
        height: auto;
}
.service-boxes .boxes .box h3
{
	font-size: 1.7em;
	line-height: 1.25;
}
 
.service-boxes .button.dark
{
	margin: 5em;
}

.light-blue-bg
{
	background-color: #f9ea52;
}

.mid-blue-bg
{
	background-color: #38b7da;
}
.dark-blue-bg
{
	background-color: #c31a76;
}

.black-blue-bg {
  	background-color: #000;
}

.color-bg *
{
	color: #000;
}


.bg-overlay-abstract2:before
{
	background: url('') center center / auto repeat;
	/*+opacity: 20%;*/
	-filter: alpha(opacity=20);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

.offwhite-bg 
{
	background-color: black;
  color: white;
}

.offwhite-bg h3 {
    color: white;
}

[class*="bg-overlay-"] *
{
	/*+placement: shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}

[class*="bg-overlay-"]:before
{
	content: '';
	/*+placement: anchor-top-left;*/
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*+opacity: 20%;*/
	-filter: alpha(opacity=20);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}

.no-margins {
    margin: 0px !important;
}

h1, h2, h3, h4, h5, h6
{
	letter-spacing: -0.0125em;
	line-height: 1.25;
  font-family: 'Montserrat';
}

h2
{
	color: #000;
	font-weight: 300;
	font-size: 2.4em;
}

.section
{
	padding: 3.6em 1rem;
}

.section:before, .section:after
{
	content: '';
	clear: both;
	display: block;
	height: 0px;
	width: 100%;
}

.servicepage {
  display: flex;    /* Magic begins */
  flex-wrap: wrap; 
}

    
   .bottombox {
    display: grid;
    position: relative;
    height: 100px;
} 



.grid-testimonials
{
    top: 50px;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
  overflow: hidden;
  padding-top: 2em;
}
.grid-testimonials li
{
  float: left;
  list-style-type: none;
  padding-bottom: 3.125em;
    width: 50%;
}
.grid-testimonials p
{
  line-height: 1.5em;
  margin: 0;
  color:black;
    font-family: 'Avenir';
    font-size: 1em;
}
.grid-testimonials-citation
{
  color: #000;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 2em;
  text-transform: uppercase;
  text-align: center;
}
.grid-testimonials li div
{
  border: 10px solid #ebebeb;
  padding: 2.125em 7.638888888888889%;
  position: relative;
    background-color: white;
    margin-right: 10px;
}
.grid-testimonials .quote-arrow
{
	background: #fff;
	border-right:10px solid #ebebeb;
	border-bottom:10px solid #ebebeb;
	content: '';
	display: block;
	position: absolute;
	bottom: -32px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}



@media only screen and (min-width: 300px)  
{
	.grid-testimonials li
  {
      position: relative;
      justify-content: center;
      text-align: center;
      width: 30%
          margin-right: 5%;
  }
	.grid-testimonials li:nth-child(3n)
  {
    margin-right: 0;
  }
}


/* Contact Form Styling */
.contain{
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
max-width: 20em;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
    top: 30px;
    color: #c31a76;
    font-size: 35px;
	font-weight: bold;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;

}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 3px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #c31a76;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
    	border-radius: 5px;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #c31a76;
}

.reset {
	position: relative;
    margin: 7px 0;
	background: #c31a76;
	color: white;
	padding: 15px 40px;
	font-size: 16px;
	border-radius: 5px;
	border: transparent;
	font-family: "Avenir";
        text-transform: uppercase;
}




/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.contain {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}

.homes {
  position: relative;
    top:70px;
  background: #fff;
  overflow: visible;
  z-index: 1;
  min-height: 1000px;
}


.homes:before, .homes:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.homes:after {
  bottom: 0;
      transform-origin: left bottom;
  transform: skewY(3deg);
}
	